body{
    background: #f5fbf1;
}

a, a:hover{
    color: black;
    text-decoration: none;
}

.card-profile{
    background: #f8f8f8;
    opacity: 1;
}

.card-profile:hover{
    opacity: 0.7;
    transition: 0.2s ease-in;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.date-text{
    font-size: 0.8rem;
}