<footer class="fixed-bottom mt-5">
    <div class="container-fluid mt-3 p-3 text-white bg-info">
        <div class="row">
            <div class="col-md-12 text-center">
                DIFA &copy;
            </div>
        </div>
    </div>
</footer>

<!--Scripts-->
<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
<!--Custom Code-->
<script src="/public/js/script.js"></script>
</body>
</html>