<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>DIFA Multimedia</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-info mb-3">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <h3>DIFA Multimedia</h3>
            </a>
            <form method="GET" action="/search/word" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Palabra clave..." name="word" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Buscar</button>
              </form>
        </div>
    </nav>